.page {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 51px;
}

.header__column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header__links-list {
  display: flex;
  align-items: baseline;
  column-gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 135%;
}


.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  align-self: center;
  width: 137px;
  max-height: 109px;
}

.header__address {
  align-self: flex-end;
}

.address {
  max-width: 240px;
  font-style: inherit;
}

.address__links-list {
  list-style: none;
}

.address__links-list-item {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.address__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 135px;
  width: 100%;
  padding: 165px 50px 50px;
  color: #FFF;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  z-index: 1;
  width: 100%;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 100%;
}

.aligned-text_center {
  padding: 20px 0;
  text-align: center;

}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: baseline;
  column-gap: 78px;
  align-self: flex-end;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 27px;
  padding: 180px 50px 180px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  min-height: 450px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 0;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  margin: 3px 0 0 40px;
  
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.about {
  display: flex;
  column-gap: 25px;
  padding: 0 50px 180px;
}

.about__logo {
  display: flex;
  flex: none;
  justify-content: space-around;
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
 width: 61.7%;
}

.about__column {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  max-width: 430px;
}

.about__column_width_two-thirds {
  flex: 2 1 0;
  row-gap: 100px;
  max-width: 100%;
}

.about__title {
  margin-top: 100px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  max-width: 240px;
  list-style: none;
}

.footer__social-list-item {
 flex: 1;
}